/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-body {
    min-height: 200px;
}

.modal-toolbar {
    text-align: center;
    padding: 25px;
}

.modal-toolbar button {
    margin: 0px 30px;
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#btn-modal-save {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.modal-editor pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.modal-editor .string { color: green; }
.modal-editor .number { color: darkorange; }
.modal-editor .boolean { color: blue; }
.modal-editor .null { color: magenta; }
.modal-editor .key { color: red; }
.modal-editor .error {
    background: #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
}

.modal-editor p.heading {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0;
}

.modal-editor .info ul {
    margin: 5px 0;
}

.modal-editor .info ul > li {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 14px;
}