body, p, td {
	font-family: sans-serif;
}

body {
    padding: 1em 3em;
}

.table tbody tr {
    background-color: transparent;
}

.logtable {
	border-collapse: collapse;
	table-layout: fixed;
    width: 100%;
}

.logtable td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

.logtable, .logtable th, .logtable td {
    border: 1px solid #ccc;
}

.loglabel {
	background: #999;
	color: #fff;
	padding: .325em;
	border-radius: .325em;
}

#myForm {
	margin-bottom: 20px;
}

#dropZone {
	display: none;
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-top: 20px;
    padding: 80px 20px;
    text-align: center;
    color: #CCCCCC;
    pointer-events:none;
}

#uploadProgressBar {
	margin-top: 20px;
	display: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}